.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    height: 35px;
}

.header__left {
    background-color: white;
    color: gray;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    flex: 0.7;
    width: 100%;
}

.header__left > input {
    border: none;
    width: 100%;
    outline: none;
    margin-left: 10px;
}

.header__right {
    display: flex;
    align-items: center;
    flex: 0.3;
    justify-content: flex-end;
}

.header__right > h4 {
    margin-left: 10px;
}